<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="utf-8" />
<title>Edit Flight</title>
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />

<link rel="stylesheet" type="text/css" href="../static/css/style.css"
	th:href="@{/css/style.css}" />

<link rel="stylesheet" type="text/css"
	href="../static/css/fontawesome.min.css"
	th:href="@{css/fontawesome.min.css}" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

</head>
<body style="background-color: #f5f6fa;">

	<nav style="padding: 11px 50px;"
		class="navbar navbar-expand-lg navbar-light bg-dark">
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarText" aria-controls="navbarText"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a
					style="color: #FFF; font-size: 22px !important; font-family: initial;"
					class="nav-link" th:href="@{/}">Home</a></li>
				<li class="nav-item"><a
					style="color: #FFF; font-size: 22px !important; font-family: initial;"
					class="nav-link">|</a></li>
				<li class="nav-item"><a
					style="color: #FFF; font-size: 20px !important; font-family: initial;"
					class="nav-link" th:href="@{/admin/form}">Add Pilot <span
						class="sr-only">(current)</span></a></li>
			</ul>
			<span class="navbar-text"> <a
				style="color: #FFF; font-size: 20px !important; font-family: initial;"
				th:href="@{/login?logout}" th:inline="text"> Logout
					[[${#httpServletRequest.remoteUser}]] </a>
			</span>
		</div>
	</nav>


	<div id="addInfo" style="padding: 30px 0; color: #ffffff">
		<div class="container">
			<div class="row">

				<div class="col-lg-6 containers"
					style="border-right: 1px solid #6c6c6c;">
					<h6 style="background: #2980b9; padding: 10px; border-radius: 5px;">Edit
						Flight</h6>
					<form th:action="@{/admin/saveFlight}" method="post"
						style="background: #dfe4ea; border: 1px solid #c8c8c8; margin-top: -7px; padding: 16px; border-radius: 5px; color: aliceblue;">

						<div class="form-group row">
							<label for="staticEmail" class="col-sm-2 col-form-label">idExists</label>
							<div class="col-sm-10">
								<input class="form-control" type="text" name="id"
									th:value="${idExists}" placeholder="idExists" readonly disabled />
							</div>
						</div>

						<div class="form-group row">
							<label for="staticEmail" class="col-sm-2 col-form-label">Code</label>
							<div class="col-sm-10">
								<input class="form-control" type="text" name="code"
									th:value="${code}" placeholder="Code" />
							</div>
						</div>
						
					   <div class="form-group row">
							<label for="staticEmail" class="col-sm-2 col-form-label">Site
								Depart</label>
							<div class="col-sm-10">
								<input class="form-control" type="text" name="siteDepart"
									th:value="${siteDepart}" placeholder="Site Depart" />
							</div>
						</div>
						
					   <div class="form-group row">
							<label for="staticEmail" class="col-sm-2 col-form-label">Time
								Arrival</label>
							<div class="col-sm-10">
								<input class="form-control" type="text" name="arrivalSite"
									th:value="${arrivalSite}" placeholder="Arrival Site" />
							</div>
						</div>
						
				      <div class="form-group row">
							<label for="staticEmail" class="col-sm-2 col-form-label">Departure
								Time</label>
							<div class="col-sm-10">
								<input class="form-control" type="text" name="departureTime"
									th:value="${departureTime}" placeholder="Departure Time" />
							</div>
						</div>

						<div class="form-group row">
							<label for="staticEmail" class="col-sm-2 col-form-label">Time
								Arrival</label>
							<div class="col-sm-10">
								<input class="form-control" type="text" name="timeArrival"
									th:value="${timeArrival}" placeholder="Time Arrival" />
							</div>
						</div>


						<div class="form-group">
							<label for="pilot" style="color: #57606f; margin-left: 4px;">Choose
								Pilot</label> <select id="pilot" name="pilotCode">
								<option th:each="pilot : ${pilots}" th:value="${pilot.code}"
									th:text="${pilot.code}"></option>
							</select>
						</div>

						<div class="form-group">
							<label for="plane" style="color: #57606f; margin-left: 4px;">Choose
								Plane</label> <select id="plane" name="planeCode">
								<option th:each="plane : ${planes}" th:value="${plane.code}"
									th:text="${plane.code}"></option>
							</select>
						</div>

						<button
							style="color: #f7f1e3; background-color: #2980b9; ! important; color: #FFF; padding: 5px 20px; border-radius: 5px;"
							type="submit">Save</button>
					</form>
				</div>



			</div>
		</div>
	</div>


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>

</body>
</html>